.profile {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 244, 235);

  border-radius: 6px;
}

.description {
  padding: 6px;
  border-bottom: 2px solid black;
}

.avatar {
  display: block;
  width: 350px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.name {
  text-align: center;
  margin-bottom: 6px;
  font-size: 26px;
  font-weight: 600;
}

.tag {
  text-align: center;
  margin-bottom: 6px;
  font-weight: 300;
}

.location {
  text-align: center;
  margin-bottom: 6px;
  font-weight: 500;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

  transition: background-color 300ms ease-in, color 300ms ease-in;
}

.item:not(:last-child) {
  border-right: 1px solid black;
}

.item:hover {
  background-color: #6d8c70;
  color: white;
}

.label {
  font-size: 22px;
  font-weight: 500;
}

.quantity {
  font-size: 18px;
  color: rgb(255, 102, 0);
}
